<div id="product_list">
	<h1>Listing Products</h1>
	
	<% if notice %>
	<p id="notice"><%= notice %></p>
	<% end %>
	
	<table>
		<% @products.each do |product| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td>
					<%= image_tag(product.image_url, :class => 'list_image') %>
				</td>
				
				<td class="list_description">
					<dl>
						<dt><%= product.title %></dt>
						<dt><%= truncate(strip_tags(product.description), :length => 80) %></dt>
					</dl>
				</td>
				
				<td class="list_actions">
					<%= link_to 'Show', product %><br />
					<%= link_to 'Edit', edit_product_path(product) %><br />
					<%= link_to 'Destroy', product, :confirm => "Deleting will permanently delete '#{product.title}' from the product listings.\nAre you sure you want to do this?", :method => :delete %>
				</td>
				
			</tr>
			
		<% end %>
	</table>
</div>

<br />

<%= link_to 'New product', new_product_path %>
